  //variables:
  $white: hsl(0, 0%, 100%);
  $bacground-color: hsl(270, 20%, 96%);
  $light-text-color: hsl(270, 7%, 64%);
  $dark-color: hsl(271, 36%, 24%);
  $magenta-color: hsl(293, 100%, 63%);
  $violet-color: hsl(264, 100%, 61%);